{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
    <div class="content-wrapper col-12 col-lg-8">
        <h2 class="heading-highlight">Oferujemy usługi z zakresu <b>analizy danych, optymalizacji konwersji</b> oraz <b>raportowania
            i wdrażania systemów analitycznych.</b></h2>
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="box">
                    <h3 class="title">Analiza danych</h3>
                    <div class="gfx-wrapper">
                        <img src="{% static 'content/icon-ad.png' %}" alt="Analiza danych">
                    </div>
                    <p></p>
                    <a href="#" class="btn btn-secondary">Zobacz więcej</a>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="box">
                    <h3 class="title">Visual Analytics</h3>
                    <div class="gfx-wrapper">
                        <img src="{% static 'content/icon-va.png' %}" alt="Visual Analytics">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                        nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus,
                        tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
                        Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio,
                        elementum in tempus ut, metus</p>
                    <a href="#" class="btn btn-secondary">Zobacz więcej</a>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="box">
                    <h3 class="title">Wdrożenie analityczne</h3>
                    <div class="gfx-wrapper">
                        <img src="{% static 'content/icon-wa.png' %}" alt="Wdrożenie analityczne">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                        nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus,
                        tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
                        Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio,
                        elementum in tempus ut, metus</p>
                    <a href="#" class="btn btn-secondary">Zobacz więcej</a>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="box">
                    <h3 class="title">Optymalizacja konwersji</h3>
                    <div class="gfx-wrapper">
                        <img src="{% static 'content/icon-ok.png' %}" alt="Optymalizaja konwersji">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                        nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus,
                        tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
                        Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio,
                        elementum in tempus ut, metus</p>
                    <a href="#" class="btn btn-secondary">Zobacz więcej</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<section class="news-section">
    <div class="container">
        <h3 class="heading-with-line"><span>Newsroom</span></h3>
        <div class="row no-gutters">
            <a href="#" class="col-sm-6 col-lg-3 text-center">
                <h4>Nowa wersja Adobe Analytic</h4>
                <span class="btn btn-sm btn-primary">Czytaj</span>
            </a>
            <a href="#" class="col-sm-6 col-lg-3 text-center">
                <h4>Google Analytics wprowadza zmienne lokalne</h4>
                <span class="btn btn-sm btn-primary">Czytaj</span>
            </a>
            <a href="#" class="col-sm-6 col-lg-3 text-center">
                <h4>Nowa wersja Adobe Analytic</h4>
                <span class="btn btn-sm btn-primary">Czytaj</span>
            </a>
            <a href="#" class="col-sm-6 col-lg-3 text-center">
                <h4>Google Analytics wprowadza zmienne lokalne</h4>
                <span class="btn btn-sm btn-primary">Czytaj</span>
            </a>
        </div>
    </div>
</section>

